body {
	background-color: black;
	background-image: url(images/wallpaper.gif);
	background-size:100% auto;
}

.kitten {
	content:url(https://user-images.githubusercontent.com/25018540/30505437-864c858c-9a29-11e7-9c05-833b39917a89.png);
}

@media only screen and (max-width: 1000px) {
	.kitten {
		content: url(https://user-images.githubusercontent.com/25018540/30505437-864c858c-9a29-11e7-9c05-833b39917a89.png);
	}
}

@media only screen and (max-width: 800px) {
	.kitten {
		content: url(https://user-images.githubusercontent.com/25018540/30505543-3196562a-9a2a-11e7-8797-5cd184779296.png);
	}
}

@media only screen and (max-width: 600px) {
	.kitten {
		content: url(https://user-images.githubusercontent.com/25018540/30505514-ff70f4c0-9a29-11e7-97a8-37c16cd878bb.png);
	}
}

@media only screen and (max-width: 400px) {
	.kitten {
		content: url(https://user-images.githubusercontent.com/25018540/30505589-6e9c9980-9a2a-11e7-9fa4-1d2e8226f62b.gif);
	}
}

